# 1.20.4
# Woot Revived Access Transformer

public net.minecraft.world.entity.monster.Creeper droppedSkulls # droppedSkulls

public net.minecraft.world.entity.boss.enderdragon.EnderDragon tickDeath()V # tickDeath
public net.minecraft.world.level.dimension.end.EndDragonFight dragonKilled # dragonKilled

public-f net.minecraft.server.level.ServerLevel entityManager # entityManager
public net.minecraft.world.level.entity.PersistentEntitySectionManager permanentStorage # permanentStorage
public net.minecraft.world.level.entity.PersistentEntitySectionManager callbacks # callbacks

public net.minecraft.client.gui.GuiGraphics innerBlit(Lnet/minecraft/resources/ResourceLocation;IIIIIFFFFFFFF)V # innerBlit

public-f net.minecraft.world.level.Level dimension # dimension
public-f net.minecraft.world.level.Level dimensionTypeId # dimensionTypeId
public-f net.minecraft.world.level.Level dimensionTypeRegistration # dimensionTypeRegistration